*{
    background-color: #1f2937;
}
nav > ul {
    color: #ffffff;
}
a:link{
    text-decoration: none;
    font-size: 18px;
}







/*
.page-quote, em, b{
    background-color: #E5E7EB;
    color: #1F2937;
}
*/
